* {
    margin: 0; 
    box-sizing: border-box;
  }
:root {
    font-size: 62.5%;

    --ff-h: 'Staatliches', cursive;
    --ff-text: 'Palanquin', sans-serif;
    --fs-title: 4rem;
    --fs-subtitle-body: 2rem;
    --lh-fonts: 3.4rem;
    --lh-paragraph: 1.5rem;
    --fw-font: 400;
   
    --bg-one: hsl(218, 17%, 62%);
    --bg-two: hsl(275, 18%, 79%);
    --bg-three: hsl(233, 100%, 97%);
    --bg-menu: hsl(312, 91%, 96%);
    --cl-letter-menu: hsl(232, 17%, 35%);
}
.page-01 {
    background-color: var(--bg-three);
    max-width: 38.4rem;
    margin: auto;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-one);
    border: 1px solid #000;
    width: 100%;
    margin: auto;
}
#ice {
    width: 13.7rem;
    height: 13.7rem;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}
#ice img {
    width: 100%;
}
#subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-two);
    width: 38.4rem;
    height: 4.9rem;
    margin-bottom: 2.9rem;
}
h1 {
    font-family: var(--ff-h);
    font-size: var(--fs-title);
    line-height: var(--lh-fonts);
    font-weight: var(--fw-font);
    color: #FFF;
}
main {
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
    padding: 0 3.2rem 6rem;
}
#text {
    display: block;
    text-align: center;
}
p {
    font-family: var(--ff-text);
    font-size: 1.5rem;
    line-height: var(--lh-paragraph);
    color: hsl(274, 84%,12%);
    font-style: normal;
}
.main-menu {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    margin-top: 6.2rem;
}
.menu {
    position: relative;
    animation-name: body-menu;
}
.menu img {
    animation-name: floatdow;
    animation-duration: 50ms;
}
.menu h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    font-family: var(--ff-h);
    font-size: var(--fs-subtitle-body);
    font-style: normal;
    font-weight: var(--fw-font);
    line-height: var(--lh-fonts);
    letter-spacing: 0.1rem;
    color: var(--cl-letter-menu);
    border-radius: 2rem;
    background-color: var(--bg-menu);
    padding: 0 2.3rem 0 2.4rem;
    animation-name: floattop;
    animation-duration: 600ms;
    animation-delay: 400ms;
}
.menu:hover img {
    transform: translateY(-10px);
    transition-duration: 300ms;
}
.menu:hover h2 {
    transform: translateY(10px);
    transition-duration: 1s;
}
header:hover img {
    transform: rotateY(-360deg);
    transition-duration: 1s;
}

@keyframes floattop {
    0% {
        transform: translateY(17px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floatdow {
    0% {
        transform: translateY(-17px);
    }
    100% {
        transform: translateY(0);
    }
}